* {
  box-sizing: border-box;
}

.library-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.table {
  margin-bottom: 0;
}

.add-button {
  align-self: flex-end;
}

#book-form {
  display: flex;
  flex-direction: column;
}

.table-container {
  box-sizing: border-box;
  border: rgb(8 8 8) solid 3px;
}
